#setter链式调用
lombok.accessors.chain=true

#equals hashCode默认调用父类
lombok.equalsAndHashCode.callSuper=CALL

#toString默认调用父类
lombok.tostring.callsuper=CALL

#log
lombok.log.fieldname=logger
#lombok.log.fieldisstatic=false
lombok.log.custom.declaration=cn.labzen.logger.core.EnhancedLogger cn.labzen.logger.Loggers.getLogger(TYPE)(TOPIC)
lombok.log.apacheCommons.flagUsage=ERROR
lombok.log.flogger.flagUsage=ERROR
lombok.log.jbosslog.flagUsage=ERROR
lombok.log.javaUtilLogging.flagUsage=ERROR
lombok.log.log4j.flagUsage=ERROR
lombok.log.log4j2.flagUsage=WARNING
lombok.log.xslf4j.flagUsage=ERROR
